<%= form_for(current_user.messages.build(:from_user_id => from, :user_id => to)) do |f| %>
  <%= f.text_area :content, rows: 2, style: "max-width: 600px;max-height:150px;" %>
  <%= f.hidden_field :from_user_id, :value => from %>
  <%= f.hidden_field :user_id, :value => to %>
  <div class="actions">
    <%= f.submit 'Send', class: 'btn' %>
  </div>
<% end %>
