<table width="100%">
	<tr>
		<td width="190" valign="baseline">
			<a href="<%= user_path(current_user) %>" class="user-info-pin center">
				<%= gravatar_for current_user, size: 165 %>
			</a>
		</td>
		<td width="*" valign="baseline" style="text-align:center">
			<ul class="list-inline">
			<li><h1><b><%= @stickers.count %></b> registered stickers, </h1></li>
			<li><h1><b><%= count_active_stickers(@stickers) %></b> active stickers, </h1></li>
			<li><h2><b><%= @stickers.per_page %></b> on this page</h2></li>
		</td>
	</tr>
</table>
