<% provide(:title, 'Editing sticker #{@sticker.name}') %>

<div class="container-fluid page-content">
  <%= render 'users/user_info_header', user: @user %>

  <div id="user-stickers" class="row-fluid">
    <div id="sticker" style="position:relative;top:-240px"></div>
    <div id="stickers" class="row-fluid">
      <%= render 'sticker_info_min', sticker: @sticker, user: @user, locations: @locations, zones: @zones, span_size: 12 %>
    <div id="edit" style="position:relative;top:-240px"></div>
    <div id="edit" class="well paper-shadow">
      <h1>Editing sticker</h1><br/>
      <p class="lead">
        Edit your sticker here.
      </p>
      <%= render 'form_edit' %>
      <%= link_to 'Back', user_stickers_path(@user) %>
    </div>
  </div>

<% content_for :sidebar do %>
  <%= render 'users/friends', user: @user %>
  <h3>Navigate</h3>
  <ul id="sidebar-nav" class="nav nav-list affix" data-offset-top="200px">
    <li><a href="#sticker">Sticker</a></li>
    <li><a href="#edit">Edit</a></li>
  </ul>
<% end %>
