  <div class="user-toolbar btn-toolbar btn-group pull-right">
    <% if current_user != @user %>
      <div id="friendship_form<%= @user.id.to_s %>" class="pull-right">
        <%= render 'users/add_friend' %>
      </div>
          <a id="message-popover-<%= @user.id %>" href="#" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<form accept-charset='UTF-8' action='/messages' class='new_message' id='new_message' method='post'><div style='margin:0;padding:0;display:inline'><input name='utf8' type='hidden' value='✓'><input name='authenticity_token' type='hidden' value='01OdtR9vSXHHUsvOpevvQ2do4pNStUB0v3Xw6Lun3Lk='></div>
            <textarea cols='40' id='message_content' name='message[content]' rows='2' style='max-width: 600px;max-height:150px;'></textarea>
            <input id='message_from_user_id' name='message[from_user_id]' type='hidden' value='<%= current_user.id %>'>
            <input id='message_user_id' name='message[user_id]' type='hidden' value='<%= @user.id %>'>
            <div class='actions'>
              <input class='btn' name='commit' type='submit' value='Send'>
            </div>
          </form>" class="btn-default btn-xs show-on-hover">Send message</a>
      <script type="text/javascript">
          $("#message-popover-<%= @user.id %> a").popover()
      </script>
    <% end %>
    <% if current_user.admin? %>
       <a href="<%= edit_user_path(@user) %>"
      class="btn-default btn-xs show-on-hover">Edit</a>
      <a href="<%= user_histories_path(@user) %>"
      class="btn-default btn-xs show-on-hover">Events</a>
      <a href="<%= user_path(@user) %>"
          data-method="delete"
          data-confirm="You are about to delete user <%= @user.name %>"
          class="btn-default btn-xs btn-danger show-on-hover">Delete</a>
    <% end %>
  </div>

