<% provide(:title, @user.name) %>

<%= render 'user_info_header', user: @user %>

<div class="container-fluid page-content-with-header">
  <div id="user-statistics" style="position:relative;top:-240px"></div>
  <div class="well well-padding paper-shadow">
    <h1><%= (current_user == @user ? "My statistics" : (@user.name + "'s statistics")) %></h1>
    <ul class="inline">
      <li><h3><a href="<%= user_path(@user) %>/friends"><b><%= @user.followed_users.count %></b></a> friends</h3></li>
      <li><h3><a href="<%= user_stickers_path(@user) %>"><b><%= @user_locations_count %></b></a> locations</h3></li>
      <li><h3><a href="<%= user_stickers_path(@user) %>"><b><%= @stickers.count %></b></a> stickers</h3></li>
      <li><h3><a href="<%= user_messages_path(@user) %>"><b><%= @messages.count %></b></a> messages</h3></li>
      <li><h3><a href="<%= user_histories_path(@user) %>"><b><%= @histories.count %></b></a> events</h3></li>
    </ul>
  </div>

  <div id="server-statistics" style="position:relative;top:-240px"></div>
  <div class="well well-padding paper-shadow">
    <h1>Server statistics</h1>
    <ul class="inline">
      <% if current_user.admin? %>
        <li><h3><a href="<%= users_path %>"><b><%= @server_stats["total_users"] %></b></a> users</h3></li>
        <li><h3><a href="<%= histories_path %>"><b><%= @server_stats["total_events"] %></b></a> events</h3></li>
        <li><h3><a href="<%= stickers_path %>"><b><%= @server_stats["total_stickers"] %></b></a> stickers</h3></li>
        <li><h3><a href="<%= locations_path %>"><b><%= @server_stats["total_locations"] %></b></a> locations</h3></li>
      <% else %>
        <li><h3><a href="#"><b><%= @server_stats["total_users"] %></b></a> users</h3></li>
        <li><h3><a href="#"><b><%= @server_stats["total_events"] %></b></a> events</h3></li>
        <li><h3><a href="#"><b><%= @server_stats["total_stickers"] %></b></a> stickers</h3></li>
        <li><h3><a href="#"><b><%= @server_stats["total_locations"] %></b></a> locations</h3></li>
      <% end %>
    </ul>
  </div>
</div>

<!-- Sidebar Fixed left -->
<div class="sidebar">
  <h3>Navigate</h3>
  <ul id="sidebar-nav" class="nav nav-list affix" data-offset-top="200px">
    <li><a href="#user-statistics"><%= (current_user == @user ? "My statistics" : (@user.name + "'s statistics")) %></a></li>
    <li><a href="#server-statistics">Server</a></li>
  </ul>
</div>
