<% complement = complement ||= "" %>

<%= form_tag @form_path, :method => 'get', :id => complement + "form_search", remote: true do |f| %>
	
	<%= hidden_field_tag :complement, complement %>
	<%= hidden_field_tag :direction, 'asc' %>

	<div class="panel-group" id="accordion" class="paper-shadow">
	 	<div class="panel panel-default">
			<div class="panel-heading">
				<div class="input-prepend">
					<span class="add-on">
						<a style="display:inline;" class="accordion-toggle btn-default btn-default dropdown-toggle btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	      					<span class="caret"></span>
						</a>
					</span>
					<span class="add-on">
						Search
					</span>
					<%= text_field_tag complement + 'search', params[complement + 'search'] %>
				</div>
			</div>
			<div id="collapseOne" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="input-prepend">
						<span class="add-on">Search in</span>
					 	<%= select_tag(complement + "column", options_for_select(@column_names, "name")) %>
						<span class="add-on">and sort by</span>
					 	<%= select_tag(complement + "sort", options_for_select(@column_names, "name"), id: complement + "search_sort") %>
						<span class="add-on">and sort by</span>
					 	<%= select_tag(complement + "direction", options_for_select(["asc", "desc"]), id: complement + "search_direction") %>
					</div>
					<div class="input-prepend">
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
