<% @stats = {
      "total_users" => User.count,
      "total_stickers" => Sticker.count,
      "total_events" => History.count,
      "total_messages" => Message.count,
      "total_locations" => Location.count
    } %>
<div class="container-fluid fixed-header">
  <div class="page-header-back"></div>
  <div class="row-fluid">
	  <div class="well well-padding paper-shadow header-well">
	  	<table width="100%">
	  		<tr>
					<td width="190" valign="baseline">
						<a href="<%= user_path(current_user) %>" class="user-info-pin center">
							<%= gravatar_for current_user, size: 165 %>
						</a>
					</td>
					<td width="*" valign="top" style="text-align:center">
						<br/>Already...<br/><br/>
						<ul class="inline">
							<li><h1><a href="<%= users_path %>"><b><%= @stats["total_users"] %></b></a> users</h1></li>
							<li><h2><a href="<%= histories_path %>"><b><%= @stats["total_events"] %></b></a> events</h2></li>
							<li><h3><a href="<%= stickers_path %>"><b><%= @stats["total_stickers"] %></b></a> stickers</h3></li>
							<li><h4><a href="<%= locations_path %>"><b><%= @stats["total_locations"] %></b></a> locations</h4></li>
						</ul>
						... and growing.
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
