<% if (history.subject == 'sticker')
	sticker = Sticker.find(history.sticker_id) %>
	<%= history.created_at %>:
	<a href="<%= user_path(sticker.user.id) %>"><%= sticker.user.name %></a>  
	<%= history.operation %>
	<%= history.subject %>
	<%= link_to sticker.name, user_sticker_path(sticker.user, sticker) %>
<% end %>

<% if (history.subject == 'user')
	user = User.find(history.user_id) %>
	<%= history.created_at %>: 
	<a href="<%= user_path(user.id) %>"><%= user.name %></a>  
	<%= history.operation %>
<% end %>

<% if (history.subject == 'location')
	location = Location.find(history.location_id)
	sticker =Sticker.find(location.sticker_id)
	user = User.find(sticker.user_id) %>
	<%= history.created_at %>:
	<a href="<%= user_path(user.id) %>"><%= user.name %></a>:
	Located sticker
	<%= link_to sticker.name, user_sticker_path(user, sticker) %>
	at 
	<%= link_to location.latitude, user_sticker_location_path(user, sticker, location) %>, 
	<%= link_to location.longitude, user_sticker_location_path(user, sticker, location) %>.
<% end %>

<% if (history.subject == 'message')
	message = Message.find(history.message_id)
	user = User.find(message.from_user_id)
	to_user = User.find(message.user_id)
	%>
	<%= history.created_at %>:
	<%= link_to user.name, user_path(user.id) %>
	has sent a
	<%= link_to 'message', user_messages_path(user) %>
	to 
	<%= link_to to_user.name, user_path(to_user) %>
<% end %>
<br/>
