<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield :title) %></title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<LINK REL="SHORTCUT ICON" HREF="/assets/favicon.ico">
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<%= render 'layouts/page' %>
	</body>
	<%= javascript_include_tag "application" %>
	<%= yield :scripts %>
</html>
