<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield :title) %></title>
        <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false" %>
        <%= javascript_include_tag "map" %>
        <%= javascript_tag Pousse::js([:everybody]) %>
        <%= stylesheet_link_tag "map", media: "all" %>
        <link rel="SHORTCUT ICON" href="/assets/favicon.ico">
        <%= csrf_meta_tags %>
        <%= render 'layouts/shim' %>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
