<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield :title) %></title>
        <%= stylesheet_link_tag "map", media: "all" %>
        <link rel="SHORTCUT ICON" href="/assets/favicon.ico">
        <%= csrf_meta_tags %>
        <%= render 'layouts/shim' %>
    </head>
    <body>
        <%= render 'layouts/alerts' %>
        <%= yield %>
    </body>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false" %>
    <%= javascript_include_tag "https://d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js" %>
    <%= javascript_include_tag "map" %>
</html>
